{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "core/css/login.css" %}">
{% endblock extra-css %}

{% block body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{#    {% else %}#}
{#    <p>Please login to see this page.</p>#}
    {% endif %}
{% endif %}

</form>
<div class="login">
    <h1>Login</h1>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <span class="fontawesome-user"><td>{{ form.username.label_tag }}</td></span>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>
{# Assumes you setup the password_reset view in your URLconf #}
<!--  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->
{% endblock body %}
