<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html>
{% block before_head %}{% endblock %}
<head>
    <meta charset="utf-8">
    <title>Sense-Hat Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}
        <link rel="stylesheet" href="{% static "dashboard/css/w3.css" %}">
        <link rel="stylesheet" href="{% static "dashboard/css/raleway.css" %}">
        <link rel="stylesheet" href="{% static "dashboard/css/font-awesome.min.css" %}">
    {% endblock css %}
    {% block extra-css %}{% endblock %}

    {% block js  %}
        <script src="{% static "dashboard/js/jquery.min.js" %}"></script>
        <script src="{% static "dashboard/js/utils.js" %}"></script>
        <script src="{% static "dashboard/js/jquery.sensehat.js" %}"></script>
        <script src="{% static "dashboard/js/jquery-rpijs.js" %}"></script>
    {% endblock js %}

    <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

</head>

<body class="w3-light-grey">

 {# Useful for code javascript#}
 {# Credentials for API REST #}
 <div id="api_rest_url" data-value="{{ rpirest_url }}" hidden></div>
 <div id="api_rest_user" data-value="{{ RPIREST_USER }}" hidden> </div>
 <div id="api_rest_passwd" data-value="{{ RPIREST_PASSWD}}" hidden> </div>

 {%  block body %}
    <!-- Top container -->
{% block top_container %}
<div class="w3-container w3-top w3-black w3-large w3-padding" style="z-index:4">
{% block top_container_content %}
    <button class="w3-button w3-hide-large w3-padding-0 w3-black w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-right">
        <a href="accounts/logout" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
    </span>
{% endblock top_container_content %}

</div>
{% endblock top_container %}

<!-- Sidebar/menu -->
{% block left_menu %}
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
        <img src="{% static "dashboard/imgs/devices/rpi3.png"%}" class="w3-margin-right" style="width:100px">
    </div>

    <div class="w3-col s8 w3-bar">
      {% if user.is_authenticated %}
      <span class="w3-right">Bienvenido <strong> {{ user }} </strong></span><br>
      {% else %}
      {% endif %}
    </div>
  </div>
  <hr>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black"
       onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      {% block menu_block %}
          <a id='id_leftmenu_home' href="/" class="w3-bar-item w3-button w3-padding"><i class="fa fa-home fa-fw"></i> Inicio</a>
          <a href="rpi" class="w3-bar-item w3-button w3-padding"><i class="fa fa-linux fa-fw"></i> Sistema RPI</a>
          {% if "sensehat" in DEVICES_ATTACHED %}
              <a id="id_leftmenu_sensehat" href="/sensehat" class="w3-bar-item w3-button w3-padding">
                  <i class="fa fa-cubes fa-fw"></i> Sensehat</a>
          {% endif %}
          {% if "dht11" in DEVICES_ATTACHED %}
              <a id="id_leftmenu_dht11" href="/dht11" class="w3-bar-item w3-button w3-padding">
                  <i class="fa fa-thermometer-half fa-fw"></i> DHT11</a>
          {% endif %}
          {% if "dht22" in DEVICES_ATTACHED %}
              <a id="id_leftmenu_dht22" href="/dht22" class="w3-bar-item w3-button w3-padding">
                  <i class="fa fa-thermometer-half fa-fw"></i> DHT22</a>
          {% endif %}
          {% if "am2302" in DEVICES_ATTACHED %}
              <a id="id_leftmenu_am2302" href="/am2302" class="w3-bar-item w3-button w3-padding">
                  <i class="fa fa-thermometer-half fa-fw"></i> AM2302</a>
          {% endif %}

          <a href="admin" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i> Configuración</a><br><br>
          <a href="{{ API_REST_URL }}" target="_blank" class="w3-bar-item w3-button w3-padding"><i class="fa fa-exchange fa-fw"></i>API REST</a>
          <a href="{{ GRAFANA_URL }}" target="_blank" class="w3-bar-item w3-button w3-padding"><i class="fa fa-area-chart fa-fw"></i>Gráficas</a>
          <a href="https://github.com/jregueirar/pirest-sense-hat" target="_blank" class="w3-bar-item w3-button w3-padding">
              <i class="fa fa-github"></i> Código fuente</a>
      {% endblock menu_block %}
  </div>
</nav>
{% endblock left_menu %}

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
    {% block content_header %}

    {% endblock content_header %}

{% block content %}


    <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        {% block led_matrix %} {% endblock led_matrix%}
      </div>

      <div class="w3-twothird">
        <h5>Feeds</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-blue w3-padding-tiny"></i></td>
            <td>New record, over 90 views.</td>
            <td><i>10 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-red w3-padding-tiny"></i></td>
            <td>Database error.</td>
            <td><i>15 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-orange w3-text-white w3-padding-tiny"></i></td>
            <td>New record, over 40 users.</td>
            <td><i>17 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-red w3-padding-tiny"></i></td>
            <td>New comments.</td>
            <td><i>25 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bookmark w3-light-blue w3-padding-tiny"></i></td>
            <td>Check transactions.</td>
            <td><i>28 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-laptop w3-red w3-padding-tiny"></i></td>
            <td>CPU overload.</td>
            <td><i>35 mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-share-alt w3-green w3-padding-tiny"></i></td>
            <td>New shares.</td>
            <td><i>39 mins</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <hr>
  <div class="w3-container">
    <h5>General Stats</h5>
    <p>New Visitors</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-green" style="width:25%">+25%</div>
    </div>

    <p>New Users</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-orange" style="width:50%">50%</div>
    </div>

    <p>Bounce Rate</p>
    <div class="w3-grey">
      <div class="w3-container w3-center w3-padding w3-red" style="width:75%">75%</div>
    </div>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Countries</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
      <tr>
        <td>United States</td>
        <td>65%</td>
      </tr>
      <tr>
        <td>UK</td>
        <td>15.7%</td>
      </tr>
      <tr>
        <td>Russia</td>
        <td>5.6%</td>
      </tr>
      <tr>
        <td>Spain</td>
        <td>2.1%</td>
      </tr>
      <tr>
        <td>India</td>
        <td>1.9%</td>
      </tr>
      <tr>
        <td>France</td>
        <td>1.5%</td>
      </tr>
    </table><br>
    <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Recent Users</h5>
    <ul class="w3-ul w3-card-4 w3-white">
      <li class="w3-padding-16">
        <img src="/w3images/avatar2.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Mike</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar5.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jill</span><br>
      </li>
      <li class="w3-padding-16">
        <img src="/w3images/avatar6.png" class="w3-left w3-circle w3-margin-right" style="width:35px">
        <span class="w3-xlarge">Jane</span><br>
      </li>
    </ul>
  </div>
  <hr>

  <div class="w3-container">
    <h5>Recent Comments</h5>
    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h4>
        <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>

    <div class="w3-row">
      <div class="w3-col m2 text-center">
        <img class="w3-circle" src="/w3images/avatar1.png" style="width:96px;height:96px">
      </div>
      <div class="w3-col m10 w3-container">
        <h4>Bo <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span></h4>
        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
      </div>
    </div>
  </div>
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Demographic</h5>
        <p>Language</p>
        <p>Country</p>
        <p>City</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">System</h5>
        <p>Browser</p>
        <p>OS</p>
        <p>More</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Target</h5>
        <p>Users</p>
        <p>Active</p>
        <p>Geo</p>
        <p>Interests</p>
      </div>
    </div>
  </div>


  {% block footer %}
  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>SenseHat</h4>
    <p>Source Code: <a href="https://github.com/jregueirar/pirest-sense-hat" target="_blank">pirest_sense_hat</a></p>
  </footer>
  {% endblock footer %}
  <!-- End page content -->
  {% endblock content %}

</div>

<script>


// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>
     <script>
{#         $.rpddijs.init("{{ rpirest_url }}", "{{ RPIREST_USER }}", "{{ RPIREST_PASSWORD }}");#}
{#        Paso de parámetros desde Django. Credenciales #}
        var api_rest_url = $("#api_rest_url").attr("data-value");
        var api_rest_user = $("#api_rest_user").attr("data-value");
        var api_rest_passwd = $("#api_rest_passwd").attr("data-value");

        console.log("DEBUG: " + api_rest_url + ", " + api_rest_user + ", " + api_rest_passwd)
        $.rpijs.formatDefaults.valueType = "binary";
        $.rpijs.formatDefaults.update = 2000
        $.rpijs.init(api_rest_url, api_rest_user, api_rest_passwd);
     </script>
{#<script>#}
{#        var csrftoken = getCookie('csrftoken');#}
{##}
{#        function csrfSafeMethod(method) {#}
{#            // these HTTP methods do not require CSRF protection#}
{#            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
{#        }#}
{##}
{#        $.ajaxSetup({#}
{#            beforeSend: function(xhr, settings) {#}
{#            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
{#                xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
{#            }#}
{#        }#}
{#        });#}
{#</script>#}

{% endblock body %}
</body>
</html>
