<!-- Probando que resincronice -->
{% extends "dashboard/base_device.html" %}

{% load staticfiles %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static "dashboard/css/dashboard-utils.css" %}">
    <link rel="stylesheet" href="{% static "dashboard/css/dygraph.css" %}">
{% endblock extra-css %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "dashboard/js/dygraph.min.js" %}"></script>
{#    <script type="text/javascript" src="{% static "dashboard/js/jquery.graphite.js" %}"></script>#}
    <script type="text/javascript" src="{% static "dashboard/js/loader.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/dashboard-utils.js" %}" defer></script>
{% endblock js %}

{% block content_title %}
    <i class="fa fa-dashboard"></i> Dispositivo:
    <a href="https://www.raspberrypi.org/products/sense-hat/">{{ type_device }}</a>{% endblock content_title %}

{% block content %}

    {# Usefull for jquery code dashboard-utils.js #}
    <div id="apirest_temperature" data-value="{{ resource_temperature }}" hidden></div>
    <div id="apirest_humidity" data-value="{{ resource_humidity }}" hidden></div>
    <div id="apirest_pressure" data-value="{{ resource_pressure }}" hidden></div>

    <div class="w3-row-padding w3-margin-bottom">
        <div class="w3-half">
            <div class="w3-third">
                <div id="chart_gauge_temp"></div>
            </div>
            <div class="w3-third">
                <div id="chart_gauge_humidity"></div>
            </div>
            <div class="w3-third">
                <div id="chart_gauge_pressure"></div>
            </div>
        </div>
        <div class="w3-half">
            <b>Sensor:</b> <select id="id_select_sensor">
                <option selected="selected" value="temperature">Temperatura</option>
                <option value="humidity">Humedad</option>
                {%  if type_device  == "sensehat" %}
                    <option value="pressure">Presión</option>
                {% endif %}
            </select>
            <i class="fa fa-refresh"></i>
            <select id="id_select_interval">
                <option value="5000">5 seg</option>
                <option selected="selected" value="10000">10 seg</option>
                <option value="15000">15 seg</option>
                <option value="30000">30 seg</option>
            </select>
            <div id="chart_realtime"></div>
        </div>
    </div>

    <div class="w3-container w3-teal">
        <div class="w3-half">
            <h5><b> <i class="fa fa-calendar" aria-hidden="true"></i> Histórico Mediciones</b></h5>
        </div>
        <div class="w3-half">
            <button id="id_button_day" class="button-time w3-button w3-border w3-round-xlarge" value=-1>Día</button>
            <button id="id_button_week" class="button-time w3-button w3-border w3-round-xlarge" value=-7>Semana</button>
            <button id="id_button_month" class="button-time w3-button w3-border w3-round-xlarge" value=-31>Mes</button>
            <button id="id_button_year" class="button-time w3-button w3-border w3-round-xlarge" value=-365>Año</button>
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top">
        <div class="w3-half">
            <div id="chart_temp"></div>
        </div>
        <div class="w3-half">
            <div id="chart_humidity"></div>
        </div>
    </div>

    <div class="w3-row-padding w3-margin-top w3-container">
        <div class="w3-half">
            <div id="chart_pressure"></div>
        </div>
        <div class="w3-half w3-container container">
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#id_leftmenu_{{ type_device }}').addClass("w3-blue")
            $('#id_topnavbar_envsensors').addClass("w3-grey");

            if ("{{ type_device }}" == "sensehat" ) {
                myGaugeCharts(true, $.rpijs)
            }else{
                myGaugeCharts(false, $.rpijs)
            }

            var selectSensor = $("#id_select_sensor");
            var selectRefresh = $("#id_select_interval");
            var divIdChart = "chart_realtime";
            var chartConfiguration = {
                'temperature': {
                    url: "{{ resource_temperature }}", labels: ['t', 'Temperatura'],
                    ylabel: "Temperatura (ºC)", key: "result"
                },
                'humidity': {
                    url: "{{ resource_humidity }}", labels: ['h', 'Humedad'],
                    ylabel: "Humedad (%)", key: "result"
                }
            };

            if ("{{ type_device }}" == "sensehat") {
                chartConfiguration["pressure"] = {
                    url: "{{ resource_pressure }}", labels: ['p', 'Presión'],
                    ylabel: "Presión", key: "result"
                }
            }

            var chart = new serialChart(selectSensor.val(), divIdChart, selectRefresh.val(),
                    chartConfiguration);

            selectSensor.on("change", function () {
                chart.chartName = selectSensor.val();
                clearInterval(chart.intervalId)
                chart = new serialChart(selectSensor.val(), divIdChart, selectRefresh.val(),
                        chartConfiguration);
            });

            selectRefresh.on("change", function () {
                chart.refreshInterval = selectRefresh.val();
                chart.replot();
            });


            // *************************** HISTORICO *******************************************************
            $("#id_button_day").addClass("w3-grey");
            var graphiteFrom = $("#id_button_day").val();

            dygraphAttrsTemp = {
                labels: ["Fecha", "Temperatura"],
                legend: 'always',
                showRangeSelector: false,
                ylabel: 'Temperatura (ºC)'
            };
            dygraphAttrsHumidity = {
                labels: ["Date", "Humedad"],
                legend: 'always',
                showRangeSelector: false,
                ylabel: 'Humedad(%)'
            };
            graphiteTemp = new graphiteSerialChart("{{ graphite_server }}", "{{ graphite_target_temperature }}",
                    graphiteFrom, "chart_temp", dygraphAttrsTemp);
            graphiteHumidity = new graphiteSerialChart("{{ graphite_server }}","{{graphite_target_humidity}}",
                    graphiteFrom, "chart_humidity", dygraphAttrsHumidity);

            if ( "{{ type_device }}" == "sensehat") {
                dygraphAttrsPressure = {
                    labels: ["Date", "Presión"],
                    legend: 'always',
                    showRangeSelector: false,
                    ylabel: 'Presión',
                };
                graphitePressure = new graphiteSerialChart("{{ graphite_server }}", "{{ graphite_target_pressure }}",
                        graphiteFrom, "chart_pressure", dygraphAttrsPressure);
            }

            $(".button-time").on("click", function () {
                $(".button-time").removeClass("w3-grey");
                $(this).addClass("w3-grey");
                graphiteFrom = $(this).val();
                graphiteTemp.replot(graphiteFrom);
                graphiteHumidity.replot(graphiteFrom);
                if ("{{ type_device }}" == "sense_hat") {
                    graphitePressure.replot(graphiteFrom);
                }
            });
        });
    </script>
{% endblock content %}
