{% extends "dashboard/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="w3-row">
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">

            </div>
            {% for device in attached_devices_list %}
{#                <div class="w3-quarter w3-card w3-dark-grey">#}
                    <div class="w3-quarter">
                    <div class="w3-container w3-grey w3-card w3-center w3-padding-16">
                        <h3 class="w3-blue">{{ device.type }}</h3>
                        {# ¿How can I automated?#}
                        {% if device.type == "rpi" %}
                            <img src={% static "dashboard/imgs/devices/rpi3.png"%} alt="Avatar" style="width:70%">
                        {% endif %}
                        {% if device.type == "sensehat" %}
                            <img src={% static "dashboard/imgs/devices/sensehat.png"%} alt="Avatar" style="width:70%">
                        {% endif %}
                        {% if device.type == "am2302" %}
                            <img src={% static "dashboard/imgs/devices/am2302.png"%} alt="Avatar" style="width:70%">
                        {% endif %}
                        {% if device.type == "dht11" %}
                            <img src={% static "dashboard/imgs/devices/dht11.png"%} alt="Avatar" style="width:70%">
                        {% endif %}
                        {% if device.type == "dht22" %}
                            <img src={% static "dashboard/imgs/devices/dht22.png"%} alt="Avatar" style="width:70%">
                        {% endif %}
                        <div class="w3-clear"></div>
                        <a class="w3-button w3-teal" href="{{ device.type }}">Dashboard</a>
                        <a class="w3-button w3-teal" href="{{ rpirest_url }}{{ device.type }}">APIREST</a>
                    </div>

                </div>
            {% endfor %}
            <div class="w3-quarter">
                <a href="admin/dashboard/attacheddevices/">
                <div class="w3-right w3-container w3-teal w3-padding-16 w3-button">
                    <div class="w3-center"><i class="fa fa-plus w3-xxxlarge" aria-hidden="true"></i></div>
{#                    <a href="https://www.w3schools.com" class="w3-button w3-container w3-black">Link Button</a>#}
                      <h3>Dispositivos</h3>
                </div>
                    </a>
            </div>
        </div>
    </div>
    <script>
          $('#id_leftmenu_home').addClass("w3-blue")
    </script>
{% endblock content %}
