{% extends "dashboard/base_device.html" %}

{% load staticfiles %}

{% block extra-css %}
     <link rel="stylesheet" href="{% static "dashboard/css/led_matrix.css" %}">
{%  endblock extra-css %}

{% block content_title %} Overview {% endblock content_title %}

{% block content %}
    <div class="w3-row">
        <div class="w3-half">
            <i class="fas fa-exclamation-triangle"></i>
        </div>
    </div>

{% endblock content %}
