{% extends "dashboard/base_device.html" %}

{% load staticfiles %}

{% block css %}
    {{ block.super }}
{#    <link rel="stylesheet" href="{% static "dashboard/css/bootstrap.min.css" %}">#}
{% endblock css %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "dashboard/js/dashboard-ledmatrix.js" %}"></script>
    <script type="text/javascript" src="{% static "dashboard/js/notify.min.js" %}"></script>
{% endblock js %}

{% block content %}


    <div id="type_device" data-value="{{ type_device }}"></div>
    <div class="w3-row">
        <div class="w3-half">
            <div id="led_matrix">
                <object id="svgObject" type="image/svg+xml" data="{% static "dashboard/imgs/sense_hat_plano2.svg" %}">
                    Kiwi Logo <!-- fallback image in CSS -->
                </object>
            </div>
            <button id="alerts">PROBANDO</button>
            <p></p>
        </div>
    <div class="w3-half">
        <p></p>
        <div class="w3-container w3-teal">
            <p> Color de Led: <input type="color" name="pixel_color" value="#0000FF" id="led_colour">
                Color de Fondo: <input type="color" name="pixel_color" value="#fdf9e6" id="background_colour">
                Baja Intesidad Lumínica: <input id="ledmatrix_lowlight" class="w3-check" type="checkbox" checked="checked">
            </p>
            <p>
                Selecciona Led: X <input type="number" name="x" min="0" max="7" id="led_coord_x" value="0">
                Y: <input type="number" name="y" min="0" max="7" id="led_coord_y" value="0">
            </p>
        </div>
        <p></p>
{#        <div class="w3-container">#}
        <div class="w3-row">
            <div id="ledmatrix_clear" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-table" aria-hidden="true"> Apagar Todos</i></div>
            <div id="ledmatrix_on_all" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-table" aria-hidden="true"> Encender Todos</i></div>
        </div>
        <div class="w3-row">
            <div id="ledmatrix_off_led" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-lightbulb-o" aria-hidden="true"> Apagar Seleccionado</i></div>
            <div id="ledmatrix_on_led" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-lightbulb-o" aria-hidden="true"> Encender Seleccionado</i></div>
        </div>
        <div id="tutua" class="w3-row">
{#            <div class="w3-quarter">#}
                <div id="ledmatrix_rotation" class="w3-button w3-white w3-border w3-border-green w3-tooltip">
                    Rotar Eje:
                    <select id="angle_rotation">
                        <option selected="selected" value="0">0º</option>
                        <option value="90">90º</option>
                        <option value="180">180º</option>
                        <option value="270">270º</option>
                    </select>
                </div>
                <div id="ledmatrix_fliph" class="w3-button w3-white w3-border w3-border-green">Voltear H</div>
                <div id="ledmatrix_flipv" class="w3-button w3-white w3-border w3-border-green">Voltear V</div>
{#            </div>#}
        </div>
        <div class="w3-row">
            <div id="ledmatrix_letter" class="w3-button w3-white w3-border w3-border-green">Un Carácter:</div>
            <input type="text" id="input_letter" maxlength="1">
        </div>
        <div class="w3-row">
            <div id="ledmatrix_message" class="w3-button w3-white w3-border w3-border-green"><i class="fa fa-comment" aria-hidden="true"></i>Mensaje</div>

            <input type="text" id="input_message">
             Velocidad:
            <select id="scroll_speed">
                <option value=0.2>Muy Lento</option>
                <option value=0.1>Lento</option>
                <option selected="selected" value=0.05>Normal</option>
                <option value=0.03>Rápido</option>
            </select>
        </div>
        <div class="w3-row">
            <p>Ayuda:</p>
            <ul>
                <li>Al hacer click directamente sobre un led, este se encenderá del color seleccionado. Además, se actulizarán las
                    coordenadas X e Y con las coordenadas del led sobre el que se hizo click.</li>
                <li>Color de fondo solo es usado en las funcionalidades de carácter y mensaje. El color #fdf9e6, corresponde a apagado
                en la matrix de Leds.</li>
                <li>Rotar Eje. Si usas la RPi al revés o hacia los lados, puede usar esta función para corregir la orientación de
                la imagen que se muestra. El ángulo 0º es con el puerto HDMI Raspberry Pi hacia abajo, tal y como se muestra en esta
                pantalla.</li>
            </ul>

        </div>
{#        </div>#}
    </div>
    </div>
    <script>
        $.notify.addStyle('happyblue', {
  html: "<div>☺<span data-notify-text/>☺</div>",
  classes: {
    base: {
      "white-space": "nowrap",
      "background-color": "lightblue",
      "padding": "5px"
    },
    superblue: {
      "color": "white",
      "background-color": "blue"
    }
  }
});

        $("#id_leftmenu_sensehat").addClass("w3-blue");
        $("#alerts").notify(
            "Probando eyyyyyy", "info",
            { position:"top left",
              style: 'happyblue'
            }
        );
        $.notify('Mostrando Mensaje', "info",
            { position:"center"}
        );
    </script>
{% endblock content %}

